@model ConsorcioOnline.Models.Users

@{
    ViewBag.Title = "Create";
}
<p>&nbsp;</p>
<div class="form-horizontal text-center">
    <img src="~/Imagens/logo1.png" />
    <h2 style="text-align:center;font-size:x-large;color:dodgerblue">CADASTRO</h2>
</div>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal text-center">        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group">                        
            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control text-center", @placeholder = "NOME" } })
            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })            
        </div>
        
        <div class="form-group">                        
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control text-center", @placeholder = "E-MAIL" } })
            @Html.ValidationMessageFor(model => model.UserName,"",new { @class = "text-danger" })            
        </div>

        <div class="form-group">
            @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control text-center", @placeholder = "TELEFONE (COD + NUMERO)" } })
            @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })            
        </div>

        <div class="form-group">
            @Html.DropDownList("FisJur", new SelectList((IEnumerable<ConsorcioOnline.Models.FisicaJuridica>)ViewData["FisicaJuridica"], "Id", "Nome"), new { @class = "form-control" })            
            @Html.ValidationMessageFor(model => model.FisJur, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.PasswordFor(model => model.Senha, new { @class = "form-control text-center", @placeholder = "SENHA" })
            @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })            
        </div>

        <div class="form-group">
            @Html.PasswordFor(model => model.ConfirmSenha, new { @class = "form-control text-center", @placeholder = "CONFIRMAR SENHA" })
            @Html.ValidationMessageFor(model => model.ConfirmSenha, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">            
            <input type="submit" value="ENTRAR" class="btn btn-default" />
        </div>
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
