@model ConsorcioOnline.Models.Users

@{
    ViewBag.Title = "Details";
}

<p>&nbsp;</p>
<div class="form-horizontal text-center">
    <img src="~/Imagens/logo1.png" />
    <h2 style="text-align:center;font-size:large;color:dodgerblue">DETALHES DA CONTA</h2>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apelido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apelido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FisJur)
        </dt>

        <dd>
            @Html.RadioButton("FisJur", 1, Html.DisplayFor(model => model.FisJur).ToString() == "1" ? true : false, new { disabled = "disabled" }) Fisica
            @Html.RadioButton("FisJur", 2, Html.DisplayFor(model => model.FisJur).ToString() == "2" ? true : false, new { disabled = "disabled" }) Juridica
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CNPJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNPJ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Blocked)
        </dt>

        <dd>
            @Html.Label(Html.DisplayFor(model => model.Blocked).ToString() == "0" ? "Não" : "Sim")
        </dd>
        <p style="height:3.5px">&nbsp;</p>
        <dd>
            @Html.ActionLink("EDITAR", "Edit", "UsersMVC", new { id = Session["LoginUser"] }, new { @class = "btn btn-default" })
        </dd>    
    </dl>
   
</div>
