<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Sistema de Consorcio", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if(Session["LoginUser"] == null)
                    { 
                    <li>@Html.ActionLink("New User", "Create", "UsersMVC", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Login", "Login", "Home", new { area = "" }, null)</li>
                    }
                    else
                    { 
                    <li>@Html.ActionLink("Meus Dados","Details","UsersMVC", new { id = Session["LoginUser"] }, null)</li>
                    <li>@Html.ActionLink("Minhas Cartas", "Index", "CartaCreditoMVC", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Incluir Carta", "Create", "CartaCreditoMVC", new { area = "" }, null) </li>
                    <li>@Html.ActionLink("Redefinir Senha", "Edit", "UserPasswordMVC", new { id = Session["LoginUser"] }, null)</li>
                    <li>@Html.ActionLink("LogOut","Logout","Home",new { area = ""})</li>                                       
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
