@model ConsorcioOnline.Models.CartaCredito

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CartaCredito</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdVendedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdVendedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdmConsorcio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdmConsorcio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoConsorcio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoConsorcio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusCarta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusCarta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorCredito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorCredito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorEntrata)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorEntrata)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtdParcelas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtdParcelas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorParcela)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorParcela)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaldoCarta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaldoCarta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Indexador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Indexador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Honorarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Honorarios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxaJuros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxaJuros)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
