@model ConsorcioOnline.Models.PropostaCarta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PropostaCarta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdCarta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCarta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdVendedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdVendedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdComprador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdComprador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusProposta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusProposta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MensagemProposta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MensagemProposta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
