@model IEnumerable<ConsorcioOnline.Models.CartaCredito>

@{
    ViewBag.Title = "CartasCredito";
}

<h2>Cartas Credito</h2>
@using (Html.BeginForm("CartasCredito"))
{ 
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">Status:</label>
            <div class="col-md-10">
                @Html.DropDownList("idStatus", new SelectList((IEnumerable<ConsorcioOnline.Models.StatusCarta>)ViewData["ListStatus"], "Id", "Nome"), new { @onchange ="this.form.submit();", @class="form-control" })
            </div>
        </div>
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdVendedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdmConsorcio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoConsorcio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusCarta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorCredito)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorEntrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtdParcelas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorParcela)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaldoCarta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Indexador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Honorarios)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxaJuros)
        </th>
        <th></th>
    </tr>

@if(Model != null)
{ 
    foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdVendedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdmConsorcio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoConsorcio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusCarta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorCredito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdParcelas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorParcela)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaldoCarta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Indexador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Honorarios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxaJuros)
            </td>
            <td>
                @if(item.StatusCarta == (int)ConsorcioOnline.Models.CartaCredito.enStatusCarta.Em_Analise)
                {

                    @Html.ActionLink("Publicar", "CartaStatusTransit", new { idCarta = item.Id, status = (int)ConsorcioOnline.Models.CartaCredito.enStatusCarta.Publicada })
                    <strong>|</strong>
                    @Html.ActionLink("Reprovar", "CartaStatusTransit", new { idCarta = item.Id, status = (int)ConsorcioOnline.Models.CartaCredito.enStatusCarta.Reprovada })
                }
                @if(item.StatusCarta == (int)ConsorcioOnline.Models.CartaCredito.enStatusCarta.Publicada)
                {
                    @Html.ActionLink("Propostas", "PropostasCarta",new { id = item.Id })
                }
            </td>
        </tr>
    }
}
</table>
