@model IEnumerable<ConsorcioOnline.Models.PropostaCarta>

@{
    ViewBag.Title = "Index";
}

<h2>Propostas Cartas</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdCarta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdVendedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdComprador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusProposta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MensagemProposta)
        </th>
        <th></th>
    </tr>

@if(Model != null)
{ 
    foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCarta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdVendedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdComprador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusProposta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MensagemProposta)
            </td>
            <td>                
                @switch (item.StatusProposta)
                {
                    case (int)ConsorcioOnline.Models.PropostaCarta.enStatusProposta.EmAnalise:
                        @Html.ActionLink("Aprovar", "PropostaStatusTransit", new { idProposta = item.Id, status = (int)ConsorcioOnline.Models.PropostaCarta.enStatusProposta.Aprovada }) 
                        <strong>|</strong>
                        @Html.ActionLink("Cancelar", "PropostaStatusTransit", new { idProposta = item.Id, status = (int)ConsorcioOnline.Models.PropostaCarta.enStatusProposta.Cancelada })
                        break;
                    case (int)ConsorcioOnline.Models.PropostaCarta.enStatusProposta.Aprovada:
                        @Html.ActionLink("Transferir", "PropostaStatusTransit", new { idProposta = item.Id, status = (int)ConsorcioOnline.Models.PropostaCarta.enStatusProposta.EmTransferencia }) 
                        break;
                    case (int)ConsorcioOnline.Models.PropostaCarta.enStatusProposta.EmTransferencia:
                        @Html.ActionLink("Concluir", "PropostaStatusTransit", new { idProposta = item.Id, status = (int)ConsorcioOnline.Models.PropostaCarta.enStatusProposta.Concluida }) 
                        break;                   
                }
                |
                @Html.ActionLink("Mais Detalhes da Carta", "Details","CartaCreditoMVC", new { id=item.IdCarta },null)
            </td>
        </tr>
    }
}
</table>
