@model ConsorcioOnline.Models.LoginUser
@{
    ViewBag.Title = "Login";
}
<p>&nbsp;</p>
<div class="form-horizontal" style="text-align:center">
    <img src="~/Imagens/logo1.png" />
    <h2 style="text-align:center;font-size:x-large;color:dodgerblue">LOGIN</h2>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <table align="center">
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.UserName)                    
                </td>
                <td>
                    @Html.EditorFor(model => model.UserName)                    
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Password)                    
                </td>
                <td>
                    @Html.EditorFor(model => model.Password)
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Login" class="btn btn-default" />
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
        </table>
    </div>
}
